$FirstColor: #414141;
$SecondColor: #ff3b3f;
$BackgroundColor: #eae7dc;
$ThirdColor: white;
$FourthColor: black;
$Text: #343434;

@font-face {
  font-family: "IRANSans";
  src: url("/static/front/fonts/font.eot");
  src: url("/static/front/fonts/font.woff") format("woff"),
    url("/static/front/fonts/font.woff2") format("woff2"),
    url("/static/front/fonts/font.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansNum;
  font-style: normal;
  font-weight: normal;

  src: url("/static/front/fonts/font.eot");
  src: url("/static/front/fonts/font-num.woff2") format("woff2"),
    url("/static/front/fonts/font-num.woff") format("woff"),
    url("/static/front/fonts/font-num.ttf") format("truetype");
}

* {
  font-family: IRANSans;
}

* .number {
  font-family: IRANSansNum;
}
@import "Post";
